p{
    color: lightblue 
}
.container{
    width: 80%;
    margin: 0 auto;
}


.blm fist{
    float: left;
    padding: 10px auto
}


header{
    background-color: aquamarine;
}


nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}



nav li{
    display: inline-block
}